#start-page {
  .game-menu {
    position: relative;
    width: 604px;
    margin: auto;
    top: calc(50% - 70px);
    z-index: 1;
    transform: translate(0, -50%);

    &__game-logo {
      font: bold 120px $FONT_FAMILY;
      width: 570px;
      margin: auto;
    }

    &__levels-button {
      margin-left: 90px;
      text-transform: uppercase;
    }

    &__start-button {
      margin-top: 16px;
      text-transform: uppercase;
    }
  }
}