#draft-page {
  @import "workplace";
  @import "toolbar";
  @import "info-popup";

  .workplace {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 10px rgba(#000000, 0.3);
    max-width: 700px;
    max-height: 400px;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
  }

  .back-button {
    margin: 1% 0 0 4%;
    display: block;
  }

  .finish-button {
    width: auto;
    height: auto;
    padding: 20px 30px;
    position: absolute;
    display: block;
    bottom: 50%;
    right: 6%;
  }
}