#draft-page {
  .workplace {
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__background {
      padding: 20px;
      width: 100%;
      height: 100%;
    }

    &__results-canvas {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &__working-canvas {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .toolbar {
    background: #777777;
    position: absolute;
    top: 40%;
    left: 70px;
    transform: translate(0, -50%);
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    border: solid 2px #777777;
    border-radius: 15px;
    width: 70px;
    z-index: 1;

    &__tool {
      border-bottom: solid 2px #777777;
      padding: 5px;

      svg {
        fill: #FFFFFF;
      }

      &_selected {
        background: #FFFFFF;

        svg {
          fill: #444444;
        }
      }

      &:first-child {
        padding-top: 13px;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 10px;
      }
    }
  }
}