$borderRadius: 15px;

.popup {
  z-index: 0;

  &__overlay {
    background: #000000;
    z-index: 0;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 600ms;
    will-change: opacity;
    cursor: pointer;
  }

  &__popup-container {
    width: 60%;
    max-width: 600px;
    height: 80px;
    background: #FFFFFF;
    position: relative;
    margin: auto;
    padding: 10px 25px;
    box-shadow: 0 2px 10px rgba(#000000, 0.3);
    will-change: transform;
    max-height: 60%;
  }

  &__content-container {
    font-family: $FONT_FAMILY;
    line-height: 40px;
    position: relative;
    min-height: 40px;
    padding: 10px 0;
    transition: opacity 400ms;
    overflow: auto;
  }

  &__control {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    padding: 7px 5px 7px;
    border: solid 1px #777777;
    background: #FFF;
    transition: transform 200ms;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background: #ECECEC;
    }

    &_state_cross {
      padding: 9px;
      transform: translate(70px, -60px)
    }

    svg {
      fill: #777777;
    }
  }
}

.task-popup {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1; //ff fix

  .popup {
    &__popup-container {
      border-top: 0;
      border-radius: 0 0 $borderRadius $borderRadius;
    }
  }
}

.help-popup {
  bottom: 0;
  position: absolute;
  width: 100%;

  .popup {
    &__popup-container {
      border-bottom: 0;
      border-radius: $borderRadius $borderRadius 0 0;
    }

    &__control {
      &_state_arrow {
        transform: scale(-1);
        transform-origin: 50% 50%;
      }
    }
  }
}

.popup {
  &_activated {
    z-index: 1;

    .popup {
      &__popup-container {
        height: auto;
        border-radius: $borderRadius $borderRadius $borderRadius $borderRadius;
      }

      &__content-container {
        line-height: normal;
      }
    }
  }
}
