.task {
  position: absolute;
  max-width: 70%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 20px 20px;
  padding: 20px 20px 20px 10px;

  &__info-button {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    cursor: pointer;
    transition: opacity 200ms, transform 200ms;
    opacity: 0.7;

    &:hover {
      opacity: 0.9;
      transform: scale(1.2);
    }
  }

  &__content {
    display: inline-block;
    overflow: auto;
    max-height: 160px;
    width: calc(100% - 40px);
    padding: 0 10px;

    @include styledText();
    @include scrollbar();
  }
}