.toolbar {
  background: #777777;
  position: absolute;
  top: 40%;
  left: 70px;
  transform: translate(0, -50%);
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(#000000, 0.4);
  border: solid 2px #777777;
  border-radius: 15px;
  width: 70px;
  z-index: 1;

  &__tool {
    border-bottom: solid 2px #777777;
    padding: 5px;
    cursor: pointer;

    svg {
      fill: #FFFFFF;
    }

    &_selected {
      background: #FFFFFF;

      svg {
        fill: #444444;
      }
    }

    &:first-child {
      padding-top: 13px;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 10px;
    }
  }
}