.workplace {
  background: #FFFFFF;
  overflow: hidden;
  cursor: crosshair;
  position: relative;

  &__background {
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__results-canvas {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__working-canvas {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.label-input {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  transform: translateY(-22px);
  outline: 0;
}