#draft-page {
  text-align: center;

  & * {
    text-align: initial;
  }

  @import "task";

  .workspace {
    box-shadow: 0 2px 10px rgba(#000000, 0.3);
    max-width: 700px;
    max-height: 400px;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    margin: 0 auto;
  }

  .back-button {
    display: block;
    position: absolute;
    top: 20px;
    left: 75px;
  }

  .toolbar {
    position: absolute;
    top: 40%;
    left: 70px;
    transform: translate(0, -50%);
  }

  .finish-button {
    width: auto;
    height: auto;
    padding: 20px 30px;
    position: absolute;
    display: block;
    bottom: 50%;
    right: 6%;
  }
}