#draft-page {
  @import "task";

  .task-wrapper {
    margin: 0 auto 20px;
    max-width: 70%;
    min-height: 150px;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .workspace {
    box-shadow: 0 2px 10px rgba(#000000, 0.3);
    width: 700px;
    height: 400px;
    margin: 0 auto;
  }

  .back-button {
    display: block;
    position: absolute;
    top: 20px;
    left: 75px;
  }

  .toolbar {
    position: absolute;
    top: 40%;
    left: 70px;
    transform: translate(0, -50%);
  }

  .finish-button {
    width: auto;
    height: auto;
    padding: 20px 30px;
    position: absolute;
    display: block;
    bottom: 50%;
    right: 6%;
  }
}