.drawable-area {
  width: 600px;
  height: 400px;
  position: relative;
}

.workspace {
  width: calc(100% - 80px);
  left: 80px;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.toolbar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}