#result-page {
  .result-card {
    width: 450px;
    margin: 0 auto;
    transform: translate(0, -50%);
    position: relative;
    top: 50%;

    &__content {
      background: #FFFFFF;
      box-shadow: 0 0 12px rgba(#333333, 0.6);
    }

    &__message {
      font: normal 32px/32px $FONT_FAMILY;
      text-align: center;
      margin-top: 80px;
    }

    &__score {
      padding: 40px 0 20px;
      text-align: center;
    }

    &__score-wrapper {
      display: inline-block;
      color: #FFFFFF;
      text-align: left;
    }

    &__awarded-score {
      padding-top: 5px;
      font: normal 30px $FONT_FAMILY;
    }

    &__current-score {
      font: normal 65px $FONT_FAMILY;
    }

    &__stars-holder {
      text-align: center;
      padding: 25px 0 70px;
    }

    &__star {
      width: 40px;
      display: inline-block;
    }

    &__controls {
      margin-top: 10px;
      text-align: center;
      width: 110%;
      left: -5%;
      position: relative;

      .button {
        margin-left: 1px;
      }

      .restart-button, .next-button {
        position: relative;
      }

      .next-button {
        margin-left: 10px;
      }

      .restart-button {
        margin-left: 30px;
      }
    }

    &_result {
      &_good {
        .result-card__score {
          background: #3BB100;
        }
      }

      &_bad {
        .result-card__score {
          background: #CC2C00;
        }
      }
    }
  }

  .icon-button {
    width: 70px;
    height: 70px;
    vertical-align: top;

    & svg {
      vertical-align: middle;
    }
  }
}