#levels-page {
  overflow: auto;
  clear: both;

  .back-button {
    margin: 20px 0 50px 20px;
    display: block;
  }

  .levels-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .level {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    margin: 20px;

    &__index {
      font-family: $FONT_FAMILY;
      font-style: italic;
      text-align: center;
      position: relative;
      margin: auto;
      background: #FFFFFF;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
      font-size: 96px;
      width: 190px;
      line-height: 190px;
      border-radius: 15px;
      transition: background 200ms, box-shadow 200ms;

      &:hover {
        background: #777777;
        color: #FFFFFF;
        box-shadow: 0 2px 10px rgba(0,0,0,0.7);
      }
    }

    &__stars-holder {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }


    &__star {
      display: inline-block;
      width: 20%;
      line-height: 54%;
      vert-align: top;
      position: relative;
      margin-left: 5%;


      &:first-child {
        margin-left: 0;
      }
    }
  }
}
