$borderRadius: 15px;

.popup {
  z-index: -1; //ff fix
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  &__overlay {
    background: #000000;
    z-index: 0;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 600ms;
    will-change: opacity;
    cursor: pointer;
  }

  &__popup-container {
    background: #FFFFFF;
    position: relative;
    margin: auto;
    box-shadow: 0 2px 10px rgba(#000000, 0.3);
    transition: opacity 300ms;
    will-change: opacity;
    height: 60%;
    max-width: 600px;
    width: 60%;
    top: 50%;
    border-radius: 20px;
    border-right: solid 10px #FFFFFF;
    border-top: solid 20px #FFFFFF;
    border-bottom: solid 20px #FFFFFF;
    overflow: auto;
    transform: translateY(-50%);
    opacity: 0;

    @include scrollbar();
  }

  &__content-container {
    padding: 10px 50px 10px 40px;

    @include styledText();
  }

  &__close-button {
    width: 20px;
    height: 20px;
    position: sticky;
    top: 10px;
    left: 100%;
    margin-right: 20px;
    z-index: 1;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 100ms;

    &:hover {
      opacity: 0.7;
    }

    path {
      stroke: #000000;
      stroke-width: 10px;
    }
  }
}

.popup {
  &_visible {
    display: block;
    z-index: 1;
  }

  &_shown {
    .popup {
      &__overlay {
        opacity: 0.67;
      }

      &__popup-container {
        opacity: 1;
      }
    }
  }
}
