.spinner {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__small-gear {
    width: 40%;
    height: 40%;
    position: absolute;
    will-change: transform;
    top: 0;
    right: 0;
    animation-duration: 2s;
    animation-name: infinite-spinning;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  &__large-gear {
    width: 81%;
    height: 81%;
    position: absolute;
    will-change: transform;
    bottom: 0;
    left: 0;
    animation-duration: 3s;
    animation-name: infinite-spinning;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
  }

  @keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}