.workspace {
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  &__results-canvas {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__working-canvas {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.label-input {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  transform: translateY(-22px);
  outline: 0;
  border: 0;
}