#result-page {
  .result-card {
    width: 450px;
    margin: 0 auto;
    transform: translate(0, -50%);
    position: relative;
    top: 50%;

    &_detailed {
      width: 700px;
    }

    &__content {
      background: #FFFFFF;
      box-shadow: 0 0 12px rgba(#333333, 0.6);
      padding: 70px 0 80px;
    }

    &__message {
      font: normal 60px $FONT_FAMILY;
      text-align: center;
      margin-top: 30px;
    }

    &__mark-icon {
      width: 20%;
      margin: 20px auto;
    }

    &__answers-wrapper {
      padding: 10px 20px 0;
    }

    &__result-canvas {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      outline: solid 1px #000000;
      width: 48%;
      display: inline-block;

      &:last-child {
        margin-left: 4%;
      }
    }

    &__controls {
      margin-top: 10px;
      text-align: center;
      width: 110%;
      left: -5%;
      position: relative;

      .button {
        margin-left: 1px;
      }

      .restart-button, .next-button {
        position: relative;
      }

      .next-button {
        margin-left: 10px;
      }

      .restart-button {
        margin-left: 30px;
      }
    }

    &_result {
      &_good {
        .result-card__score {
          background: #3BB100;
        }
      }

      &_bad {
        .result-card__score {
          background: #CC2C00;
        }
      }
    }
  }

  .icon-button {
    width: 70px;
    height: 70px;
    vertical-align: top;

    & svg {
      vertical-align: middle;
    }
  }
}