@mixin buttonCommon() {
  box-shadow: 0px 1px 5px rgba(#000000, 0.6);
  color: #FFFFFF;
  font: 400 25px $FONT_FAMILY;
  background: #F89946;
  cursor: pointer;
  transition: background 200ms;
  user-select: none;

  &:hover {
    box-shadow: 0px 1px 5px rgba(#000000, 0.8);
    background: #FFA65E;
  }

  &:active {
    background: #35BE60;
  }

  &:focus {
    border: 0;
    outline: 0;
  }
}

.button {
  width: 257px;
  height: 70px;
  border-radius: 15px;
  @include buttonCommon();
}

.icon-button {
  @include buttonCommon();
  height: 50px;
  width: 50px;
  border-radius: 9px;
}

.back-button {
  svg {
    transform: rotate(90deg);
    width: 36px;
    margin-top: 6px;
  }
}