$FONT_FAMILY: Helvetica, Tahoma;

body {
  overflow: hidden;
  height: 100vh;
  background: inline("../images/grid.png");
}

.hidden-input {
  display: block;
  position: absolute;
  transform: translate(-100%, -100%);
}