@mixin richText() {
  color: #4A4A4A;

  * {
    line-height: 25px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  ol, ul {
    margin-top: 10px;
    margin-left: -4px;
  }

  ul {
    list-style: decimal;
  }

  b {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: large;
  }
}